@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: auto;
    font-family: 'Single Day', cursive;
}

header {
    background: linear-gradient(to right, #438b8e,#92ccce);
    color: aliceblue;
    padding: 5px;
    
}

.list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.logo-header {
    font-weight: 800;
    font-size: 2.5rem;
    text-shadow: 12px 5px 5px black;
    
}
.logo-header:hover {
    text-transform: uppercase;
    transition: 1.5s;
}

.left-header {
    display: flex;
    padding-left: 35px;
    font-size: 1.5rem;
}
img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 344px;
}


 .row {
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-around;
    
}

.card-body {
    background-color: cadetblue;
    border-radius: 15px;
    text-align: center;
    color: aliceblue;
    box-shadow: 12 5 5 black;
    animation-name: card;
    animation-duration: 5s;
}

@keyframes card {
    from{background-color: #438b8e;
        color: blanchedalmond;
    }
    to{background-color: chartreuse;
        color: black;
    }
}

.card-body:hover {
    color: darkblue;
    box-shadow: 12 12 12 black;
    transition: 1ms;
}

.rodape-main {
    background: linear-gradient(to right, #438b8e,#92ccce);
    margin-top: 95px;
    
}

.rodape {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 25px;
}
.rodape-left {
    margin-top: 15px;
}

.texto {
    margin-top: 45px;
    color: aliceblue;
    font-size: 2rem;
}

.logo-instagram {
    width: 48px;
    height: 48px;
}